@import "../../styles/utils/variables";
@import "../../styles/utils/breakpoints";

.section-six-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(33, 35, 55, 0.1);
  padding-bottom: 52px;
  margin-bottom: 20px;

  @include media(">=desktop") {
    gap: 38px;
  }

  .faqs,
  .privacy,
  .terms,
  .contact-us,
  .help {
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: rgba(33, 35, 55, 0.1);
    padding: 15px 22px;
    border-radius: 22px;

    @include media(">=desktop") {
      font-size: 2rem;
      border-radius: 38px;
      padding: 20px 28px;
    }
  }
}
