@import "../../styles/utils/variables";
@import "../../styles/utils/breakpoints";
@import "../../styles/utils/reset";

.container {
  background-color: $col-purple;
  padding-top: 75px;
  height: 59rem;
  font-family: "Roboto", sans-serif;
  overflow: hidden;

  @include media(">=tablet") {
    height: 61.5rem;
  }

  @include media(">=desktop") {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    height: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(">=desktop") {
      align-items: flex-start;
      padding-top: 2rem;
    }

    .imgCont {
      padding-bottom: 80px;
      width: 120px;
      overflow: hidden;

      @include media(">=desktop") {
        width: 200px;
        padding-bottom: 100px;
      }
    }

    img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-size: 3.25rem;
      padding-bottom: 20px;
      color: white;

      @include media(">=tablet") {
        font-size: 2.6rem;
      }

      @include media(">=desktop") {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 1.1rem;
      padding-bottom: 40px;
      color: #ced4da;

      @include media(">=tablet") {
        max-width: 420px;
      }

      @include media(">=desktop") {
        font-size: 1.2rem;

        //max-width: 600px;
      }
    }

    h1,
    p {
      text-align: center;

      @include media(">=desktop") {
        text-align: left;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include media(">=desktop") {
        display: none;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        padding: 12px 22px;
        color: $btn-col;
        font-size: 1.2rem;
        font-weight: 550;
        border-radius: 20px;
        border: none;
      }
    }

    .scan {
      display: none;

      @include media(">=desktop") {
        display: flex;
        font-size: 21px;
        gap: 3rem;
        color: white;
        margin-top: 3rem;
      }

      .scan__text {
        max-width: 5rem;
        transform: rotate(-2deg);
      }

      .scan__to__download {
        transform: rotate(2deg);
      }
    }
  }

  .lightening__bolts__cont {
    margin-top: 16rem;

    @include media(">=tablet") {
      transform: rotate(90deg);
      margin-top: 2rem;
    }

    @include media(">=desktop") {
      width: 100%;
      position: relative;
      max-width: 40%;
      transform: rotate(0);
      right: 2rem;
      transform: scale(1.5);
    }
  }

  .phone {
    position: absolute;
    top: 43.4rem;
    overflow: hidden;
    height: 250px;
    text-align: center;

    @include media(">=tablet") {
      top: 37rem;
      height: 392px;
    }

    @include media(">=desktop") {
      top: 9rem;
      right: 10px;
      height: auto;
    }

    img {
      width: 80%;
      @include media(">=tablet") {
        width: 50%;
      }

      @include media(">=desktop") {
        width: 60%;
      }
    }
  }
}
