@import "../../styles/utils/variables";
@import "../../styles/utils/breakpoints";

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 12px 22px;
    color: $btn-col;
    font-size: 1.2rem;
    font-weight: 550;
    border-radius: 20px;
    border: none;
  }
}
