@import "../../styles/utils/variables";
@import "../../styles/utils/breakpoints";

.group__sticky {
  padding: 38px 16px;

  @include media(">=tablet") {
    padding: 0 43px;
  }

  .features {
    display: flex;
    align-items: center;
    border-radius: 32px;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    cursor: pointer;
    background-color: #e5e5e5;
    position: sticky;
    top: 2rem;

    @include media(">=tablet") {
      top: 3rem;
    }

    @include media(">=desktop") {
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 50px;
      padding-left: 8px;
    }

    .payments {
      //background-color: $col-purple;
      border-radius: 32px;
      padding: 9px 0;
      width: 25%;
      text-align: center;

      @include media(">=desktop") {
        border-radius: 60px;
      }

      a {
        text-decoration: none;

        p {
          color: black;
          font-weight: bold;

          @include media(">=tablet") {
            font-size: 1.6rem;
            padding: 0 2.6rem;
          }

          @include media(">=desktop") {
            font-size: 1.5rem;
            padding: 12px 0;
            border-radius: 60px;
          }
        }
      }
    }

    .shops {
      width: 25%;
      border-radius: 32px;
      //background-color: #ffad0d;
      padding: 9px 0;
      text-align: center;

      @include media(">=desktop") {
        border-radius: 60px;
      }

      a {
        text-decoration: none;
        color: black;
        p {
          font-weight: bold;

          @include media(">=tablet") {
            font-size: 1.6rem;
            padding: 0 2.6rem;
          }

          @include media(">=desktop") {
            font-size: 1.5rem;
          }
        }
      }
    }

    .groups {
      background-color: #198754;
      border-radius: 32px;
      padding: 9px 0;
      width: 25%;
      text-align: center;

      @include media(">=desktop") {
        border-radius: 60px;
      }

      a {
        text-decoration: none;

        p {
          color: white;
          font-weight: bold;

          @include media(">=tablet") {
            font-size: 1.6rem;
            padding: 0 2.6rem;
          }

          @include media(">=desktop") {
            font-size: 1.5rem;
            padding: 8px 0;
            border-radius: 60px;
          }
        }
      }
    }

    .cards {
      width: 25%;
      border-radius: 32px;
      padding-top: 9px;
      padding-bottom: 9px;
      text-align: center;

      a {
        text-decoration: none;
        color: black;
        p {
          font-weight: bold;
          @include media(">=tablet") {
            font-size: 1.6rem;
            padding: 0 2.6rem;
          }

          @include media(">=desktop") {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .groups {
    padding: 0 16px;

    @include media(">=desktop") {
      padding: 0 2px;
    }

    .groups__header {
      color: $col-grey;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 83px;
      font-size: 1.2rem;

      @include media(">=desktop") {
        font-size: 1.5rem;
        max-width: 700px;
        margin: 2rem auto 4rem auto;
      }
    }

    .pocket__for__couples,
    .pocket__for__friends,
    .family__members,
    .ajo__contributions,
    .Team__members {
      display: flex;
      flex-direction: column;
      margin-bottom: 78px;

      @include media(">=tablet") {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        width: 100%;
        padding: 0 43px;
      }

      @include media(">=desktop") {
        gap: 2rem;
        margin-bottom: 10rem;
      }

      h1 {
        font-size: 2rem;
        text-align: center;
        color: $btn-col;
        margin-bottom: 14px;
        font-weight: 600;

        @include media(">=tablet") {
          text-align: left;
          font-size: 2.6rem;
        }

        @include media(">=desktop") {
          font-size: 3rem;
        }
      }

      p {
        text-align: center;
        color: $btn-col;
        margin-bottom: 20px;

        @include media(">=tablet") {
          text-align: left;
        }

        @include media(">=desktop") {
          font-size: 1.2rem;
        }
      }

      img {
        max-width: 100%;

        @include media(">=tablet") {
          width: 50%;
        }
      }
    }

    .pocket__for__couples,
    .family__members,
    .Team__members {
      img {
        @include media(">=tablet") {
          order: -1;
        }
      }
    }
  }
}
