@import "../../styles/utils/variables";
@import "../../styles/utils/breakpoints";

.footer {
  padding: 52px 16px 82px;
  font-family: "Roboto", sans-serif;

  header {
    text-align: center;
    h1 {
      color: rgb(33, 35, 55);
      opacity: 0.4;
      padding-bottom: 14px;
      font-size: 1.3rem;

      @include media(">=desktop") {
        font-size: 1.5rem;
        padding-bottom: 26px;
      }
    }

    p {
      color: rgb(33, 35, 55);
      opacity: 0.4;
      font-size: 1.2rem;

      @include media(">=desktop") {
        font-size: 1.5rem;
      }

      .piggyvest,
      .vfd {
        color: $btn-col;
      }
    }
  }

  .fot-logo {
    margin-bottom: 52px;
    margin-top: 52px;
    text-align: center;
  }

  .footer-logo {
    width: 50px;
    @include media(">=desktop") {
      width: 100px;
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    gap: 2.5rem;

    .instagram,
    .twitter,
    .tiktok,
    .facebook {
      width: 26px;
      height: 26px;

      @include media(">=desktop") {
        width: 44px;
        height: 44px;
      }
    }
  }
}
