@import "../../styles/utils/variables";
@import "../../styles/utils/breakpoints";

.section-one {
  padding: 30px 70px 12px;
  font-family: "Roboto", sans-serif;

  @include media(">=tablet") {
    padding: 40px 43px;
    margin-bottom: 80px;
  }

  h1 {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: $col-grey;
    margin-bottom: 66px;

    @include media(">=desktop") {
      font-size: 2rem;
      margin-bottom: 80px;
    }
  }

  .firstpart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;

    @include media(">=desktop") {
      margin-bottom: 8rem;
    }

    img {
      width: 35px;
      object-fit: contain;
      overflow: hidden;

      @include media(">=tablet") {
        width: 70px;
      }

      @include media(">=desktop") {
        width: 120px;
      }
    }
  }

  .secondpart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 50px;
      object-fit: contain;
      overflow: hidden;

      @include media(">=tablet") {
        width: 100px;
      }

      @include media(">=desktop") {
        width: 170px;
      }
    }
  }
}
